* {
  margin: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
.menu {
  display: flex;
  gap: 8dvh;
  padding: 0;
  margin-left: 25dvh;
  justify-content: center;
  cursor: pointer;
}
body,
main {
  position: relative;
  z-index: 1;
}
body {
  background-color: #f2f9fe;
  overflow-x: hidden;
}
a,
li {
  text-decoration: none;
  list-style: none;
  color: #111729;
}
li {
  font-size: clamp(1rem , 1.5dvw , 1rem);
  font-weight: 600;
  position: relative;
  top: 0.2dvw;
}
.active,
li:hover a:hover {
  color: #2a4dd0;
  box-shadow: inset 0 -2px 0 0 #2a4dd0;
  padding-bottom: 0.5dvw;
  font-size: clamp(1rem , 1.5dvw, 1rem);
}
.logo {
  position: relative;
  top: 2dvw;
  margin-left: 5dvw;
}
.theme-button {
  width: 60px;
  height: 29px;
  text-decoration: none;
  background-color: #111729;
  border-radius: 50%/100%;
  cursor: pointer;
  position: relative;
  left: calc(20% - 6dvb);
  bottom: 4px;
  border: 2px solid #111729;
}
#sun {
  background-color: #f2f9fe;
  border-radius: 50%;
  left: 15px;
  padding: 2px;
  bottom: 29px;
}
#moon,
#sun {
  width: 24px;
  position: relative;
  height: 25px;
}
#moon {
  right: 16px;
}
span {
  text-transform: uppercase;
  font-size: clamp(0.8rem, 1dvw, 1rem);
  font-weight: 600;
  color: #234;
  margin-left: 65px;
  top: calc(1dvw + 10dvb);;
}
h1,
span {
  position: relative;
}
h1 {
  font-size: clamp(3.56rem, 2dvw, 3.8rem);
  font-weight: 800;
  color: #111729;
  left: 65px;
  top: 13.5dvh;
  line-height: 88px;
}
.hero_img {
  display: flex;
  position: relative;
  left: 58%;
  width: 38vw;
  height: 34dvw;
  bottom: 14dvw;
}
p {
  display: flex;
  font-size: clamp(1rem, 1dvw, 1rem);
  color: #234;
  left: 65px;
  bottom: calc(24dvw + 1dvh);
  width: 100%;
  line-height: 25px;
}
.btn-start,
p {
  font-weight: 600;
  position: relative;
}
.btn-start {
  width: 170px;
  height: 50px;
  background-color: #2947b6;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  left: 60px;
  letter-spacing: 1px;
}
.btn-start,
.demo {
  font-size: clamp(1rem, 1dvw, 1rem);
  bottom: calc(22dvw + 3dvb);
}
.demo {
  color: #2947b6;
  font-weight: 600;
  position: relative;
  left: 85px;
  padding-bottom: 8px;
  box-shadow: inset 0 -2px 0 0 #2a4dd0;
}
.feature-item {
  position: relative;
  font-size: 14px;
  width: 250px;
  height: 100px;
  left: 45px;
  margin-left: -28px;
  top: 9dvb;
  color: #494949;
}
.features {
  position: relative;
  bottom: calc(19dvw + 15dvb);
  display: flex;
}
.done-img {
  position: relative;
  padding-right: 8px;
  top: 7px;
}
.menu-button {
  display: none;
}
.menu-button .light-theme {
  background-color: #f2f9fe;
}
.menu-button .dark-theme {
  background-color: #111729;
}
.closer-menu {
  text-decoration: none;
  background-color: transparent;
  border: none;
  z-index: 4;
  bottom: 87dvw;
}
#img-menu,
.closer-menu {
  display: none;
  position: relative;
}
#img-menu {
  width: 32px;
  height: 32px;
}
.author-info {
  font-size: clamp(1.5rem, 1dvw, 2rem);
  position: relative;
  top: 20px;
}
body.dark-theme {
  background-color: #111729;
  color: #f2f9fe;
}

@media screen and (min-width: 250px) and (max-width: 790px) {
  .logo {
    width: 20dvh;
    right: 8dvb;
    margin-left: 20dvw;
    margin-right: -10%;
    top: 18px;
  }
  .hero_img,
  .logo {
    position: relative;
  }
  .hero_img {
    bottom: 50dvw;
    left: -1%;
    width: 100%;
    height: 100%;
  }
  .feature-item {
    font-size: clamp(2rem, 1dvw, 2rem);
    position: relative;
  }
  h1 {
    font-size: 13dvw;
    line-height: 16vw;
    left: 7%;
  }
  p {
    font-size: clamp(3dvh, 1dvw, 1.2rem);
    line-height: 2.8dvh;
    width: 100%;
    bottom: -8.5dvw;
    margin-left: calc(8.5dvw - 9.5dvb);
    left: 7dvh;
  }
  p,
  span {
    position: relative;
  }
  span {
    margin-left: 5.5%;
    top: 95dvw;
    font-size: clamp(2.4dvh, 1dvw, 1rem);
  }
  h1,
  menu {
    position: relative;
    top: 94vw;
    margin-left: -3%;
  }
  .btn-start,
  .demo {
    position: relative;
    left: 1%;
    bottom: -12dvw;
    margin-left: 3%;
    width: 50dvw;
    height:8.5dvh;
    font-size: clamp(2.5vh, 1dvw, 1rem);
  }
  .btn-start {
    left: -0.6%;
  }
  .btn-start,
  .menu {
    position: relative;
  }
  .menu {
    display: none;
    z-index: 5;
  }
  li,
  nav {
    font-size: clamp(3.5dvh, 2dvw, 1.5rem);
    position: relative;
    left: 10dvw;
    top: 17dvw;
  }
  a {
    color: #111729;
  }
  .theme-button {
    display: none;
    position: relative;
    top: 15vw;
    left: 10vw;
  }
  .feature-item {
    position: relative;
    padding-top: 6.2dvw;
    top: 56.5dvw;
    margin-left: -19dvw;
    font-size: clamp(1.2rem, 1.2dvw, 1.2rem);
    margin-right: 13dvb;
    left: 8.9dvb;
    width: 55%;
  }
  .done-img {
    position: relative;
    padding-right: 1dvw;
  }
  .menu-button {
    display: flex;
    position: relative;
    left: 29dvw;
    text-decoration: none;
    border: none;
    background-color: transparent;
    z-index: 3;
    width: 50%;
    height: 100%;
  }
  .author-info {
    font-size: 18px;
    padding-top: 16dvw;
    top: 38dvw;
    position: relative;
  }
  #img-menu {
    display: flex;
    left: 55dvw;
  }
  .closer-menu {
    left: 80dvw;
    bottom: 47dvh;
  }
  #img-close {
    width: 15dvw;
    height: 80px;
    display: block;
  }
  .menu {
    left: -8.8dvb;
    top: 25.5dvw;
  }
  br {
    display: none;
  }
}
